name: Deploy Production

on:
  push:
    branches:
      - Production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: production

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          printf "%s\n" "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.DEPLOY_SERVER_IP }} >> ~/.ssh/known_hosts


      - name: Deploy jarvislandingpage
        run: |
          rsync -av --delete -e "ssh -i ~/.ssh/id_ed25519" \
            ./jarvislandingpage/ deploy@${{ secrets.DEPLOY_SERVER_IP }}:/var/www/jarvislandingpage/
